<p style="color: green"><%= notice %></p>

<div class="card-body">
  <h1 class="mb-4">My profile</h1>
    <div class="col form-outline mb-4">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Options
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "Back to users", users_path, class:"dropdown-item" %>
            <%= link_to "Edit this user", edit_user_path(@user), class: "dropdown-item" %>
            <%= link_to "Edit email or password", edit_user_registration_path,  class: "dropdown-item" %>
            <%= button_to "Delete my account", @user , class:"dropdown-item", method: :delete %>
          </div>
      </div>
    </div>
  <%= render @user %>



  <!--Event List -->
  <h3>Events organized by <%=@user.first_name%></h3>
  <% @events.all.each_with_index do | event, index |%>
    <div class="col form-outline mb-4">
      <ul class="list-group list-group-light list-group-small">
        <li class="list-group-item"><%=event.title%></li>
        <li class="list-group-item"><%=link_to "Details", event_path(event.id)%></li>
      </ul>
    </div>
  <% end %>
</div>
