<div id="<%= dom_id event %>">
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%=event.title%></h5>
    <p class="card-text">About: <%=event.description%></p>
    <p class="card-text">Date: <%=event.start_date.strftime("%Y-%m-%d %H:%M:%S")%></p>
    <p class="card-text">Location: <%=event.location%></p>
    <p class="card-text">Price: €<%=event.price%></p>
    <p class="card-text">Duration: <%=event.duration%> minutes</p>
  </div>
</div>
</div>
