<%= form_with(model: attendance) do |form| %>
  <%= f.label :price %>
  <%= f.text_field :price %>

  <% if attendance.errors.any? %>

    <div style="color: red">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
      <%= f.submit "Register and Pay", class: "btn btn-primary" %>
  </div>
<% end %>
